# Backend API URL
# For physical devices, use your computer's LAN IP instead of localhost
# Example: EXPO_PUBLIC_API_BASE_URL=http://192.168.1.100:3000/api
EXPO_PUBLIC_API_BASE_URL=http://localhos
POSTGRES_DB=apis
POSTGRES_USER=projecto
POSTGRES_PASSWORD=projecto
DATABASE_URL="postgresql://${USER}:${PASSWORD}@localhost:5005/${SQL}?schema=public"
AUTH_SECRET="QxQwzXFPYTHmEcL2YW987lljh2ERUql5NQp1b90yPs="
EXPO_PUBLIC_API_BASE_URL=http://kkkkk:3000